<div class="modal fade" id="shareProjectModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Projekt teilen</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <form
        method="POST"
        action="{{ url_for('main.share_project', project_id=project.id) }}"
      >
        <div class="modal-body">
          <div class="mb-3">
            <label for="shareEmail" class="form-label">E-Mail-Adresse</label>
            <input
              type="email"
              class="form-control"
              id="shareEmail"
              name="email"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Abbrechen
          </button>
          <button type="submit" class="btn btn-primary">Teilen</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="importExcelModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Excel importieren</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <form
        method="POST"
        action="{{ url_for('main.import_excel', project_id=project.id) }}"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <input
            type="file"
            class="form-control"
            name="excel_file"
            accept=".xlsx,.xls"
            required
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Abbrechen
          </button>
          <button type="submit" class="btn btn-primary">Importieren</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editRequirementModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Anforderung bearbeiten</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <form id="editRequirementForm" method="POST">
        <div class="modal-body">
          <input type="hidden" id="editVersionId" name="version_id" />
          <input
            type="hidden"
            id="editSaveType"
            name="save_type"
            value="intermediate"
          />
          <div class="mb-3">
            <label for="editTitle" class="form-label">Title *</label>
            <input
              type="text"
              class="form-control"
              id="editTitle"
              name="title"
              required
            />
          </div>
          <div class="mb-3">
            <label for="editDescription" class="form-label"
              >Beschreibung *</label
            >
            <textarea
              class="form-control"
              id="editDescription"
              name="description"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="editCategory" class="form-label">Kategorie</label>
            <input
              type="text"
              class="form-control"
              id="editCategory"
              name="category"
            />
          </div>
          <div id="dynamicColumnsContainer"></div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Abbrechen
          </button>
          <button
            type="submit"
            class="btn btn-warning"
            onclick="document.getElementById('editSaveType').value='intermediate'"
          >
            Zwischenspeichern
          </button>
          <button
            type="submit"
            class="btn btn-success"
            onclick="document.getElementById('editSaveType').value='final'"
          >
            Speichern (Fertig)
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
=======
<!-- Include modals from components -->
{% include 'components/modals.html' %}
